<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Anime World</title>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/midterm.css">
</head>
<body>
<div class="container">

    <!-- ======================================= -->
    <div class="top">
        <div class="topleft">
            <p>Main</p> <p>Menu</p>
        </div>
        <img src="../images/crunchyrolltwo.png">
        <div class="topright">
            <p>Welcome to Anime Planet</p>
            <h1>Select a Genre</h1>
        </div>
    </div>

    <!-- ======================================= -->
    <div class="middle">
        <div class="midleft">
            <div class="button">
                <p>Watched</p>
            </div>
            <div class="button">
                <p>Watchlist</p>
            </div>
        </div>
        <div class="midright">
            <div class="toprow">
            <div class="button action animebutton">
                <p>Action</p>
            </div>
            <div class="button adventure animebutton">
                <p>Adventure</p>
            </div>
            <div class="button drama animebutton">
                <p>Drama</p>
            </div>
            </div>
            <div class="midrow">
            <div class="button fantasy animebutton">
                <p>Fantasy</p>
            </div>
            <div class="button horror animebutton">
                <p>Horror</p>
            </div>
            <div class="button romance animebutton">
                <p>Romance</p>
            </div>
            </div>
            <div class="botrow">
            <div class="button scifi animebutton">
                <p>Sci-Fi</p>
            </div>
            <div class="button psycho animebutton">
                <p>Psychological</p>
            </div>
            <div class="button animebutton">
                <p>Other...</p>
            </div>
            </div>
        </div>
    </div>
    <!-- ======================================= -->
    <div class="end">
        <div class="botleft button">
            <div>
                Language<br>言語
            </div>
        </div>
        <div class="botright button">
            <p>Renew<br>
                Subscription</p>
        </div>
    </div>
    <!-- ======================================= -->
</div>
</body>
</html>
